

<ion-content>
<div style="margin-top: 40%" class="ion-text-center">
  <ion-label color="primary"> <h1>WIRED HEALTH</h1></ion-label>
  <ion-label color="danger">CONNECTED HEALTH</ion-label>
</div>
  <ion-card class="ion-padding">
    <ion-button  class="ion-margin-top" routerLink="/register" color="primary" expand="block"> SIGN UP </ion-button>

    <ion-button  class="ion-margin-top"  routerLink="/login" color="danger" expand="block"> LOGIN </ion-button>


  </ion-card>

</ion-content>
