<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon   [routerLink]="'../'" color="dark" size="large" icon="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Capture Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-row  class="ion-margin-top"><ion-input [(ngModel)]="first_name" class="form-control" placeholder="First Name"></ion-input></ion-row>
    <ion-row  class="ion-margin-top"> <ion-input [(ngModel)]="last_name" class="form-control" placeholder="Last Name"></ion-input></ion-row>
    <ion-row  class="ion-margin-top"> <ion-input [(ngModel)]="email" class="form-control"  type="email" placeholder="Email"></ion-input></ion-row>
    <ion-row  class="ion-margin-top"> <ion-input [(ngModel)]="number" class="form-control" type="number" placeholder="Phone Number"></ion-input></ion-row>

    <ion-button  class="ion-margin-top" (click)="save()" color="primary" expand="block"> Submit </ion-button>
  </ion-card>
</ion-content>
