<ion-menu side="start" menuId="first" type="push" contentId="main">
  <ion-header>
    <ion-toolbar >
      <ion-title class="ion-text-center" color="primary">Wired Health</ion-title>
      <ion-button slot="end" fill="clear" (click)="closeMenu()">

        <ion-icon  color="dark" name="close"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="home()">HOME</ion-item>
      <ion-item>SCHEDULE</ion-item>
      <ion-item>BOOKINGS</ion-item>
      <ion-item>MESSAGES</ion-item>
      <ion-item (click)="signOut()">SIGN OUT</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
