<ion-header >
  <ion-toolbar>
    <ion-button slot="end" fill="clear" (click)="openMenu()">

      <ion-icon  color="dark" name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title color="primary">Wired Health</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin-bottom">
<img style="width: 100%" src="https://asaipa.co.za/wp-content/uploads/2018/08/article-1.png">

  <div style="margin-top: -50px;" class="ion-text-center"  > <ion-label color="light">  <h1 >Welcome</h1></ion-label>
  </div>
  </div>


  <div class="ion-padding">
  <ion-button disabled="" class="ion-margin-top" expand="block" size="medium" color="primary"> SCHEDULE APPOINTMENT</ion-button>
    <ion-button disabled="" class="ion-margin-top" expand="block" size="medium" color="danger"> VIEW BOOKINGS</ion-button>
    <ion-button disabled="" class="ion-margin-top"  expand="block" size="medium" color="primary">MESSAGES</ion-button>
    <ion-button class="ion-margin-top"  routerLink="/doctor-room" expand="block" size="medium" color="danger">CREATE DOCTORS ROOM</ion-button>
    <ion-button class="ion-margin-top" routerLink="/contact" expand="block" size="medium" color="primary"> CAPTURE CONTACT</ion-button>

   </div>
</ion-content>
