<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon   [routerLink]="'/landing'" color="dark" size="large" icon="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-row  class="ion-margin-top"> <ion-input [(ngModel)]="name" class="form-control"  type="text" placeholder="Name"></ion-input></ion-row>

    <ion-row  class="ion-margin-top"> <ion-input [(ngModel)]="email" class="form-control"  type="email" placeholder="Email"></ion-input></ion-row>
    <ion-row  class="ion-margin-top"> <ion-input [(ngModel)]="password" class="form-control" type="password" placeholder="Password"></ion-input></ion-row>

    <ion-button  class="ion-margin-top" (click)="submit()" color="primary" expand="block"> Submit </ion-button>
  </ion-card>
</ion-content>
